# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# ---- Virtualenv ----
venv/
env/
.venv/
.env/

# ---- Django ----
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# ---- Django REST Framework ----
*.token
*.cache

# ---- IDEs / Editors ----
.vscode/
.idea/
*.iml

# ---- OS files ----
.DS_Store
Thumbs.db
pip-log.txt
pip-delete-this-directory.txt
build/
dist/
*.manifest
